input {
    /* outline: none; */
    display: block;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 40%;
    position: relative;
    left: 28.5%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 10px;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

button {
    outline: none;
    background: red;
    width: 10%;
    border: 0;
    text-align: center;
    border-radius: 6px;
    padding: 10px 10px;
    color: white;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
}